<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alex Duran</title>
    <link rel="icon" href="/assets/icons/code-slash-sharp.svg">
    
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/dist/style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/script/navbar.js" async></script>

</head>

<body>
    <%- include('../components/navigation'); %>

    <%- include('../partials/header'); %>

    <main>
        <%- include('../partials/about'); %>

        <%- include('../partials/tech'); %>

        <%- include('../partials/projects'); %>

        <%- include('../partials/quote'); %>

        <%- include('../partials/contact'); %>
    </main>

    <%- include('../components/footer'); %>
</body>
</html>